.form-login-wrapper {
    position: relative;
    
    margin: 0 auto 100px;
    text-align:center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 5px;
    --form-container-bkg-color: white;
    --form-container-input-color: #f2f2f2;
    background-color: var(--form-container-bkg-color);
}

.error-login{
    color: red;
    padding-top: 10px;
    white-space: pre-line; 
}

.login-title {
    font-size: 45px;
    font-weight: 500;
    color: #788770;
}

.login-instruc {
    font-size: 15px;
    font-weight: 500;
    color: #788770;
}

.form-login-wrapper input[type='text'] {
    outline: 0;
    border: 0;
    background: var(--form-input-color);
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--form-container-input-color);
}

.form-login-wrapper input[type='password'] {
    outline: 0;
    border: 0;
    background: var(--form-input-color);
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--form-container-input-color);
}

.form-login-wrapper input[type='checkbox']{
    cursor: pointer;
}

.form-login-wrapper label {
    float: center;
    margin-right: 150px;
    width: 200px;
    color: #788770;
}