.navbar-container {
    margin: 0;
    overflow: hidden;
}

.navbar-container ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-container ul li {
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
    color: #0D6129;
    
}


.navbar-container ul li:hover {
    text-decoration: underline;
}

.sec {
    font-size: 25px;
    padding-top: 25px;
    padding-right: 25px;
}

.sec-link {
    font-size: 25px;
    padding-top: 25px;
}

.sec-link a {
    padding-top: 5px;
    padding-right: 25px;
    color: #0D6129;
}

.navbar-container li a{
    display: block;
    line-height:1em;
    text-decoration: none;
}
nav ul li:first-child {
    margin-right: auto;
    
}

.logo img{
    height: 60px;
    width: 250px;
    padding-left: 0px;
    padding-top: 10px;
    
}
